absl-py==2.4.0
aiofiles==25.1.0
attrs==26.1.0
chex==0.1.92
clarabel==0.11.1
cloudpickle==3.1.2
contourpy==1.3.3
cvxpy==1.9.1
cycler==0.12.1
distrax==0.1.9
dm-env==1.6
dm-haiku==0.0.16
dm-tree==0.1.10
etils==1.14.0
filelock==3.29.4
flax==0.12.7
fonttools==4.60.1
fsspec==2026.6.0
gast==0.7.0
highspy==1.14.0
humanize==4.15.0
jax==0.10.2
jaxlib==0.10.2
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.7
ml_collections==1.1.0
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.2.1
networkx==3.6.1
numpy==2.3.5
open-spiel==1.6.15
opt_einsum==3.4.0
optax==0.2.8
orbax-checkpoint==0.12.0
osqp==1.1.3
pandas==2.3.3
pillow==12.0.0
prometheus_client==0.25.0
protobuf==7.35.1
pyparsing==3.2.5
pytz==2025.2
PyYAML==6.0.3
qdldl==0.1.9.post1
rlax==0.1.9
scipy==1.18.0
scs==3.2.11
seaborn==0.13.2
setuptools==78.1.1
simplejson==4.1.1
sparsediffpy==0.3.0
sympy==1.14.0
tabulate==0.10.0
tensorstore==0.1.84
tfp-nightly==0.26.0.dev20260620
toolz==1.1.0
torch==2.12.1
treescope==0.1.10
triton==3.7.1
typing_extensions==4.15.0
tzdata==2025.2
uvloop==0.22.1
wheel==0.45.1
wrapt==2.2.1
zipp==4.1.0